@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
 <section class="container-fluid partners">
        <section class="row">
            <h1 class="col-12 text-uppercase">Vores partners</h1>
        </section>
        <section class="row logo-pics">
            <picture class="col-12 col-sm-6 col-md-3 align-self-center">
                <img class="img-fluid" src="~/Assets/images/partner4.png" alt="partner">
            </picture>
            <picture class="col-12 col-sm-6 col-md-3 align-self-center">
                <img class="img-fluid acme" src="~/Assets/images/partner3.png" alt="partner">
            </picture>
            <picture class="col-12 col-sm-6 col-md-3 align-self-center">
                <img class="img-fluid" src="~/Assets/images/partner2.png" alt="partner">
            </picture>
            <picture class="col-12 col-sm-6 col-md-3 align-self-center">
                <img class="img-fluid" src="~/Assets/images/partner1.png" alt="partner">
            </picture>
        </section>
    </section>