@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Page>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
		Layout = "_Master.cshtml";
}

<section class="container module_hero_section text-center " style="background-image:url(@Model.Content.Picture.Url)">
    <div class="row">
        <div class="module_hero_card col-lg-7 rellax" data-rellax-speed="1.5">
            <h1 class="underline">@Model.Content.Headline</h1>
            @Model.Content.BodyText
        </div>
    </div>
</section>